[*.cs]

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
csharp_style_expression_bodied_properties=false:silent
csharp_style_expression_bodied_indexers=false:silent
csharp_style_expression_bodied_accessors=false:none
csharp_style_expression_bodied_lambdas=false:silent
csharp_style_prefer_pattern_matching=true:suggestion
dotnet_diagnostic.CA1001.severity=warning

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods=false

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0027: Use block body for accessors
dotnet_diagnostic.IDE0027.severity = none

[*.{cs,vb}]
dotnet_style_prefer_conditional_expression_over_assignment=true:suggestion
dotnet_style_prefer_conditional_expression_over_return=true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_diagnostic.CA1304.severity=suggestion
dotnet_diagnostic.CA1310.severity=warning
dotnet_diagnostic.CA5350.severity=warning
dotnet_diagnostic.CA5351.severity=warning
dotnet_diagnostic.CA5364.severity=warning
dotnet_diagnostic.CA5365.severity=warning
dotnet_diagnostic.CA5379.severity=warning
dotnet_diagnostic.CA5397.severity=warning
dotnet_diagnostic.CA2215.severity=warning
dotnet_diagnostic.CA2251.severity=suggestion